body {
     background-color: #D5BC1C; 
     background-size: cover;
     text-align: center;
}
  h1 {
     font-style: normal;
     font-family: "Calibri";
     color: white;
	 background-color: black;
     text-align: left;
	 
}
h2{
	font-style: normal;
	font-family: "Times New Roman";
	color: blue;
	text-align: center;
}
h3{
	font-style: normal;
	font-family: "Times New Roman";
	color: blue;
	text-align: center;
}
p{
	font-style: normal;
	font-family: "Times New Roman";
	color: white;
	background-color: black;
	text-align: left;
	background-origin: content-box;
	
	display: inline-block;
	
	
}
